 body           {font-family: Arial, Helvetica, sans-serif}
 h1             {margin: 0px 0px 5px 5px}
 h2             {margin: auto auto 25px auto; font-size:27px; text-align:center}
 p              {font-size:20px}
 a              {text-decoration:none}
 table          {border-collapse:collapse}
 th             {border: 2px solid black; padding: 6px 8px; font-weight:normal; text-align:left }
 td             {border: 2px solid black; padding: 6px 8px; font-weight:normal; text-align:right}
.mono           {font-family: "Lucida Console", "Courier New", monospace}
.page           {background-color:red}
.hor            {background-color:green; overflow:hidden}
.sub            {background-color:gold ; display:none; position:absolute}
.hor a          {float:left; padding: 5px 35px; color:white; font-size:19px; font-weight:bold}
.sub a          {float:none; padding: 5px 35px; color:black; font-size:19px; font-weight:bold; display:block}
.hor a:hover    {background-color:red; color:white}
.sub a:hover    {background-color:red; color:white}
.ver            {float:left}
.ver       .but {background-color:inherit; border:none; padding: 5px 35px; color:white; font-size:19px; font-weight:bold}
.ver:hover .but {background-color:red}
.ver:hover .sub {display:block}
