 *            {box-sizing: border-box}
 body         {font-size: 100%; font-family: Calibri, sans-serif}
 p            {font-size: 1.05rem; line-height: 1.30rem}
 img          {max-width: 100%; height: auto}
 h1           {margin: 10px auto}
 h2           {text-align: left}
 h3           {margin-bottom: 10px}
 table        {line-height: 1rem; border: 4px solid black; border-collapse: collapse}
 th           {text-align: left ; font-size: 1.10rem; padding: 0.4911rem; border: 2px solid black}
 td           {text-align: right; font-size: 1.10rem; padding: 0.4911rem; border: 2px solid black}
 a            {text-decoration: none}
 a:link       {color: blue}
 a:visited    {color: blue}
.menu         {width: 100%; overflow: auto; background: black}
.menu a       {float: left; width: 12.5%; color: white; font-size: 1.05rem; padding: 0.4688rem; text-align: center; text-decoration: none}
.menu a.here  {font-weight: bold; color: black; background: gold}
.menu a:hover {font-weight: bold; color: black; background: gold}
@media screen and (max-width: 500px) {.menu a {float: none; width: 100%; display: block; text-align: left}}
.del          {text-align : center; font-size: 1.15rem; padding: 0.5134rem; background: palegreen; font-family: 'Roboto Mono', monospace}
.pts          {text-align : center; font-size: 1.15rem; padding: 0.5134rem; background: pink     ; font-family: 'Roboto Mono', monospace}
.ven          {text-align : center; font-size: 1.15rem; padding: 0.5134rem; background: palegreen; font-family: 'Roboto Mono', monospace}
.loc          {text-align : center; font-size: 1.15rem; padding: 0.5134rem; background: pink     ; font-family: 'Roboto Mono', monospace}
.pow          {text-align : center; font-size: 1.15rem; padding: 0.5134rem; background: palegreen; font-family: 'Roboto Mono', monospace}
.ran          {text-align : center; font-size: 1.15rem; padding: 0.5134rem; background: pink     ; font-family: 'Roboto Mono', monospace}
.con          {text-align : center; font-size: 1.15rem; padding: 0.5134rem; background: palegreen; font-family: 'Roboto Mono', monospace; white-space: pre}
.rec          {text-align : center; font-size: 1.15rem; padding: 0.5134rem; background: pink     ; font-family: 'Roboto Mono', monospace}
.space        {white-space: pre}
.post         {margin-top: 0px; font-size: 1.10rem; line-height: 1.45rem; font-family: 'Roboto Mono', monospace; white-space: pre}
