 *            {box-sizing: border-box}
 body         {font-family: Calibri, sans-serif; font-size: 100%}
 h1           {margin: 10px auto}
 p            {font-size: 1.05rem; line-height: 1.30rem}
 img          {max-width: 100%; height: auto}
 a            {text-decoration: none}
 a:link       {color: blue}
 a:visited    {color: blue}
.menu         {width: 100%; overflow: auto; background: black}
.menu a       {float: left; color: white; width: 11.11%; padding: 0.625rem; font-size: 1.05rem; text-align: center; text-decoration: none}
.menu a.here  {color: black; background: gold; font-weight: bold}
.menu a:hover {color: black; background: gold; font-weight: bold}
@media screen and (max-width: 500px) {.menu a {float: none; width: 100%; display: block; text-align: left}}
